.App {
  height: 100%;
  background-color: hsl(228, 33%, 97%);
}

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  font-family: 'Rubik', sans-serif;
}

/* Custom Bootstrap */
/* Buttons */
.btn-purple {
  background-color: hsl(238, 40%, 52%) !important;
  color: white !important;
}

.btn-purple:hover {
  filter: brightness(92%);
}

/* Text Colors */
.text-light-purple {
  color: hsl(244, 45%, 87%);
}

/* Background Colors */
.bg-soft {
  background-color: hsl(240, 33%, 97%);
}